html, body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  color: #eee;
  background-color: #111;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  text-shadow: 0.05em 0.05em 0.15em #aaa;
  margin-top: 0;
}

p {
  margin: 0;
}

span {
  font-weight: bold;
  text-shadow: 0 0 0.2em #aaa;
}